<nav role="navigation" class="navbar navbar-fixed-top navbar-andross">
	<div class="navbar-header">
		<a href="/" class="navbar-brand visible-xs" data-target="#navbarCollapse"	data-toggle="collapse">
			<img src="/img/logo.png" class="nav-logo-small"></a>
	</div>

	<a href="/"><img src="/img/logo.png" class="nav-logo"></a>
 	<ul id="navbarCollapse" class="collapse navbar-collapse">
			<div class="dropdown">
			<button class="dropbtn"><i class="fa fa-bars fa-2x"></i></button>
			<div class="dropdown-content">
				<li><a href="/join-our-team/">Join Our Team</a></li>
				<li><a href="https://www.eventbrite.com/o/remax-professionals-17799574908" target="_blank">Events</a></li>
				<li><a href="/strategy-call/">Free Strategy Call</a></li>
				<li><a href="/subscribe/">Free Newsletter</a></li>
				<li><a href="/calendar/">Agent Development Calendar</a></li>
				<li><a href="/meet-our-owner/">Meet Our Owner</a></li>
				<li><a href="/weekly-messages/">Weekly Messages</a></li>
				<!--<li><a href="/partners">Preferred Partners</a></li>-->
				<li><a href="/contact/">Contact</a></li>
			</div>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="cta" href="tel:{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a></li>
		</ul>
</div>
</nav>
